<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Linterna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text>{{active ? 'La linterna está encendida' : 'La linterna está apagada'}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-toggle [checked]="active" (ionChange)="flash()"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
